<app-header></app-header>

<div class="content" role="main">

  <ng-template #editUserDialog let-c="close" let-d="dismiss">
    <div class="modal-body">
      <div class="bg-gray-800 sign-up-model" >
        <div class="flex justify-end">
          <button class="btn-close"  (click)="c('Save click')">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>
        <h1 class=""><span>Updat</span>e User</h1>
        <form [formGroup]="editUser" class="sign-up-form ">

          <!-- <ng-container *ngFor="let img of imageSrc; i = index">

          </ng-container> -->


          <div class="relative mb-4">
            <label for="full-name" class="text-sm leading-7 text-gray-600">Name</label>
            <input type="text" formControlName="name" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200">
            <p class="error-msg error"   *ngIf="editUser.controls.name.touched && editUser.controls.name.errors?.required">please enter full name</p>
            <p class="error-msg error"  *ngIf="editUser.controls.name.touched && editUser.controls.name.errors?.minlength">full name length should be greater than or equal to {{createUser.controls.name.errors?.minlength.requiredLength}} </p>
          </div>

        <div class="relative mb-4">
          <label for="email" class="text-sm leading-7 text-gray-600">Bio</label>
          <textarea id="message" formControlName="bio"  rows="4" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200"> </textarea>
          <p class="error-msg error" *ngIf="editUser.controls.bio.touched && editUser.controls.bio.errors?.required">please enter description</p>
        <p class="error-msg error" *ngIf="editUser.controls.bio.touched && editUser.controls.bio.errors?.minlength">description should be greater than or equal to {{createUser.controls.bio.errors?.minlength.requiredLength}} character </p>
        </div>

        <div class="flex justify-between inline">
          <div class="relative mb-4">
            <label for="education" class="text-sm leading-7 text-gray-600">Education</label>
            <select formControlName="education"
            class="block text-lg font-light text-gray-900 bg-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select" style="height: 3rem !important;">
            <option [ngValue]="null" disabled>Experience in years</option>
            <option *ngFor="let edu of education" [ngValue]="edu">
              {{edu}}
            </option>
          </select>
          <p class="error-msg error" *ngIf="editUser.controls.education.touched && editUser.controls.education.errors?.required">please enter education details</p>
        </div>

        <div class="relative mb-4">
            <label for="tech" class="text-sm leading-7 text-gray-600">Tech Stack</label>
            <select formControlName="tech"
            class="block px-1 text-lg font-light text-gray-900 bg-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select" style="height: 3rem !important;">
            <option [ngValue]="null" disabled>Experience in years</option>
            <option *ngFor="let tech of techStack" [ngValue]="tech">
              {{tech}}
            </option>
          </select>
          <p class="error-msg error" *ngIf="editUser.controls.tech.touched && editUser.controls.tech.errors?.required">please enter your tech</p>
        </div>
        </div>


        <div class="relative mb-4">
          <label for="number" class="text-sm leading-7 text-gray-600">Phone</label>
          <input type="text" formControlName="phone" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200">
          <p class="error-msg error" *ngIf="editUser.controls.phone.touched && editUser.controls.phone.errors?.required">please enter phone no</p>
        </div>

        <div class="relative mb-4">
            <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
            <input type="email" formControlName="email" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200">
            <p class="error-msg error" *ngIf="editUser.controls.email.touched && editUser.controls.email.errors?.required">please enter email address</p>
            <p class="error-msg error" *ngIf="editUser.controls.email.touched && editUser.controls.email.errors?.email">please enter valid email address</p>
        </div>

        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn primary-btn" (click)="c('Save click'); updateUser()">Update</button>
    </div>
  </ng-template>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#adff2f"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#2C3E50"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#2C3E50"/>
        </g>
      </g>
    </svg>
    <span> app is running!</span>
  </div>

  <!-- component -->
<section class="w-full text-gray-900 bg-center bg-no-repeat bg-cover py-36"
style="background:url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1280')">
<div class="flex items-center justify-center px-4 mx-auto max-w-7xl sm:px-6 lg:px-4">
    <div class="flex justify-center pr-0 lg:w-3/6 lg:pr-0">
      <div style="    border: 1px solid #adff2f"
      class="relative block p-4 m-4 overflow-hidden bg-gray-900 rounded-lg card-size"
      href="">
      <span
        class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-lime-400 via-lime-400 to-lime-500"
      ></span>

      <div class="justify-between sm:flex">
        <div>
          <h5 *ngIf="this.createUser.controls.name.value" class="text-xl font-bold text-gray-100">
            {{this.createUser.controls.name.value}}
          </h5>
          <h5 *ngIf="!this.createUser.controls.name.value" class="text-xl font-bold text-gray-100">
           John Doe
          </h5>

          <!-- <p class="mt-1 text-xs font-medium text-gray-400">By John Doe</p> -->
        </div>

          <div class="flex items-center flex-shrink-0 hidden ml-3 sm:block">
            <img *ngIf="imageSrc.length == 0 || imageSrc.length == null"
              class="object-cover w-16 h-16 rounded-lg shadow-sm"
              src="https://www.hyperui.dev/photos/man-5.jpeg"
              alt=""
            />
             <ng-container *ngFor="let img of imageSrc">
            <img *ngIf="imageSrc"
              class="object-cover w-16 h-16 rounded-lg shadow-sm"
              [src]="img"
              alt=""
            />
          </ng-container>

          </div>




      </div>

      <div class="mt-4 sm:pr-8">
        <p *ngIf="this.createUser.controls.bio.value" class="text-sm text-gray-200">
        {{this.createUser.controls.bio.value}}
        </p>
        <p *ngIf="!this.createUser.controls.bio.value" class="text-sm text-gray-200">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius dictum luctus. Suspendisse quis blandit leo.
        </p>
      </div>

      <dl class="flex mt-6">
        <div class="flex flex-col-reverse">
          <dd *ngIf="this.createUser.controls.education.value" class="text-xs text-gray-300">{{this.createUser.controls.education.value}}</dd>
          <dd *ngIf="!this.createUser.controls.education.value" class="text-xs text-gray-300">ex. Masters</dd>
          <dt class="text-sm font-medium text-gray-400">Education</dt>

        </div>

        <div class="flex flex-col-reverse ml-3 sm:ml-6">
          <dd *ngIf="this.createUser.controls.techStack.value" class="text-xs text-gray-300">{{this.createUser.controls.techStack.value }}</dd>
          <dd *ngIf="!this.createUser.controls.techStack.value" class="text-xs text-gray-300">ex. Angular</dd>
          <dt class="text-sm font-medium text-gray-400">Tech Stack</dt>

        </div>
      </dl>
      <dl class="flex mt-6">
        <div class="flex flex-col-reverse">
          <dd *ngIf="this.createUser.controls.phoneno.value" class="text-xs text-gray-300">{{this.createUser.controls.phoneno.value}}</dd>
          <dd *ngIf="!this.createUser.controls.phoneno.value" class="text-xs text-gray-300">+92 3358976</dd>
          <dt class="text-sm font-medium text-gray-400">Phone</dt>
        </div>

        <div class="flex flex-col-reverse ml-3 sm:ml-6">

          <dd *ngIf="this.createUser.controls.email.value" class="text-xs text-gray-300">{{this.createUser.controls.email.value}}</dd>
          <dd *ngIf="!this.createUser.controls.email.value" class="text-xs text-gray-300">johndoe@email.com</dd>
          <dt class="text-sm font-medium text-gray-400">Email</dt>
        </div>
      </dl>


        </div>
    </div>


  <div class="flex flex-col w-full p-8 mt-10 bg-gray-900 rounded-md lg:w-3/6 xl:w-2/5 md:w-full lg:ml-auto lg:mt-0">
  <form [formGroup]="createUser">

    <div class="relative mb-4">
      <label for="full-name" class="text-sm leading-7 text-gray-600">Name</label>
      <input type="text" formControlName="name" name="name" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200">
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Name is required',
        control: createUser.controls['name']
      }">
    </ng-container>
    </div>


    <div class="relative mb-4">
      <label for="full-name" class="text-sm leading-7 text-gray-600">Profile Picture</label>
      <div class="relative flex justify-between overflow-hidden border-2 border-gray-400 border-dashed rounded-lg">
        <button
          class="flex items-center justify-between w-full px-2 py-2 font-bold bg-primary-gray-100 hover:bg-indigo-dark">
          <ng-container *ngIf="imageSrc.length == 0; else show">
              <div class="px-2 font-light text-gray-400">Select Image to Upload</div>
          </ng-container>
          <ng-template #show>
            <div class="px-2 font-light text-white ">File Selected!</div>
          </ng-template>
        <div>
            <svg
              fill="#FFF"
              height="28"
              viewBox="0 0 24 24"
              width="28"
              xmlns="http://www.w3.org/2000/svg"
              class="m-2">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" />
            </svg>
          </div>
        </button>
        <input
          class="absolute block opacity-0 cursor-pointer pin-r pin-t "
          type="file"
          name=""  accept="image/png, image/gif, image/jpeg"
          (change)="onSelectFile($event)"
        />
      </div>
    </div>

    <div class="relative mb-4">
      <label for="email" class="text-sm leading-7 text-gray-600">Bio</label>
      <textarea area id="message" formControlName="bio" name="bio"  rows="4" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200"> </textarea>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Bio is required',
        control: createUser.controls['bio']
      }">
    </ng-container>
    </div>

    <div class="flex justify-between inline">
      <div class="relative mb-4">
        <label for="education" class="text-sm leading-7 text-gray-600">Education</label>
        <select formControlName="education" name="education"
        class="block text-lg font-light text-gray-900 bg-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select" style="height: 3rem !important;">
        <option [ngValue]="null" disabled>Education</option>
        <option *ngFor="let edu of education" [ngValue]="edu">
          {{edu}}
        </option>
      </select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Select an option',
        control: createUser.controls['education']
      }">
    </ng-container>

    </div>

    <div class="relative mb-4">
        <label for="tech" class="text-sm leading-7 text-gray-600">Tech Stack</label>
        <select formControlName="techStack"
        class="block px-1 text-lg font-light text-gray-900 bg-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select" style="height: 3rem !important;">
        <option [ngValue]="null" disabled>Experience in years</option>
        <option *ngFor="let tech of techStack" [ngValue]="tech">
          {{tech}}
        </option>
      </select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Select an option',
        control: createUser.controls['techStack']
      }">
    </ng-container>

    </div>
    </div>


    <div class="relative mb-4">
      <label for="number" class="text-sm leading-7 text-gray-600">Phone</label>
      <input type="text" formControlName="phoneno" name="phoneno" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200">
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Phone no is required',
        control: createUser.controls['phoneno']
      }">
    </ng-container>
    </div>

  <div class="relative mb-4">
      <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
      <input type="email" formControlName="email" name="email" class="w-full px-3 py-1 text-sm leading-8 text-gray-900 transition-colors duration-150 ease-in-out bg-white border border-gray-300 rounded-md outline-none focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200">
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: createUser.controls['email']
      }">
    </ng-container>
  </div>
  <!-- <button type="reset" (click)="submit(createUser.value)"  class="px-8 py-2 ml-2 text-lg bg-gray-400 border-0 rounded-md text-dark focus:outline-none">
    Reset</button> -->
  </form>
  <button type="submit" (click)="submit(createUser.value)" [disabled]="createUser.invalid || createUser.errors" class="px-8 py-2 text-lg text-white border-0 rounded-md disabled:opacity-75 bg-lime-500 focus:outline-none">
    Submit</button>
  </div>
</div>
</section>


  <div class="justify-center pt-16 mx-auto ">
  <div>
      <p class="pb-3 text-lg font-normal text-center text-white">BUILDING TEAM</p>
      <h1 class="w-5/6 pb-6 mx-auto text-3xl font-extrabold text-center text-white xl:text-4xl sm:w-4/6 lg:w-full">The <span style="color:greenyellow">Talented People</span> Behind the Scenes of the Organization</h1>
  </div>
  </div>

  <div class="card-container">
    <ng-container *ngFor="let user of (userList?.data) ">
      <div style="border: 1px solid #adff2f"
      class="relative block p-4 m-4 overflow-hidden bg-gray-900 rounded-lg card-size"
      href=""
    >

    <button type="button" class="dropdown-btn" mat-icon-button [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu" aria-expanded="true" aria-haspopup="true">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="bg-gray-600" xPosition='before'>
      <!-- <button type="button" (click)="openUserForm(user)" class="text-white" mat-menu-item >
        <mat-icon class="material-icons color_white">edit</mat-icon>
        <span>Edit</span>
      </button> -->
      <button type="button" (click)="deleteUser(user)" class="text-white" mat-menu-item>
        <mat-icon class="material-icons color_white">delete</mat-icon>
        <span>Delete</span>
      </button>
      <button type="button" (click)="open(editUserDialog, user)" class="text-white" mat-menu-item>
        <mat-icon class="material-icons color_white">edit</mat-icon>
        <span>Edit</span>
      </button>
    </mat-menu>


<ng-template #editUserDialogtestttt>
  <div class="bg-gray-800 sign-up-model" >
    <div class="flex justify-end">
      <button class="btn-close"  (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <h1 class=""><span>Updat</span>e User</h1>
    <form [formGroup]="editUser" class="sign-up-form ">

      <label for="name" class="font-normal">Full Name</label>
      <input appTrim type="text" formControlName="name">
      <p class="error-msg error" *ngIf="editUser.controls.name.touched && editUser.controls.name.errors?.required">please enter full name</p>
      <p class="error-msg error" *ngIf="editUser.controls.name.touched && editUser.controls.name.errors?.minlength">full name length should be greater than or equal to {{editUser.controls.name.errors?.minlength.requiredLength}} </p>


        <label for="email" class="font-normal">Email</label>
        <input type="email" formControlName="email">
        <p class="error-msg error" *ngIf="editUser.controls.email.touched && editUser.controls.email.errors?.required">please enter email address</p>
        <p class="error-msg error" *ngIf="editUser.controls.email.touched && editUser.controls.email.errors?.email">please enter valid email address</p>

        <label for="education" class="font-normal">Education</label>
        <select formControlName="education"
              class="block text-lg font-light text-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select" style="height: 3rem !important;">
              <option [ngValue]="null" disabled>Experience in years</option>
              <option *ngFor="let edu of education" [ngValue]="edu">
                {{edu}}
              </option>
            </select>
        <p class="error-msg error" *ngIf="editUser.controls.education.touched && editUser.controls.education.errors?.required">please enter education details</p>

        <label for="education" class="font-normal">Experience</label>
        <!-- <select formControlName="experience"
              class="block h-16 px-1 text-lg font-light text-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select">
              <option [ngValue]="null" disabled>Experience in years</option>
              <option *ngFor="let exp of experiences" [ngValue]="exp">
                {{exp}}
              </option>
            </select> -->
            <mat-slider formControlName="experience" class="text-white" min="1" max="5" step="1" thumbLabel tickInterval="1" ></mat-slider>
            <p class="error-msg error" *ngIf="editUser.controls.experience.touched && editUser.controls.experience.errors?.required">please enter experience details</p>


        <label for="phone" class="font-normal">Phone No</label>
        <input type="text" formControlName="phone">
        <p class="error-msg error" *ngIf="editUser.controls.phone.touched && editUser.controls.phone.errors?.required">please enter phone no</p>


        <label for="techstack" class="font-normal">Tech Stack</label>
        <select formControlName="tech"
        class="block px-1 text-lg font-light text-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select" style="height: 3rem !important;">
        <option [ngValue]="null" disabled>Experience in years</option>
        <option *ngFor="let tech of techStack" [ngValue]="tech">
          {{tech}}
        </option>
      </select>
        <p class="error-msg error" *ngIf="editUser.controls.tech.touched && editUser.controls.tech.errors?.required">please enter your tech</p>


        <label class="floating-label" for="bio">Bio</label>
        <textarea appTrim type="text" formControlName="bio" maxlength="600"></textarea>
        <span class="icon description-hide-icon"></span>
        <p class="error-msg error" *ngIf="editUser.controls.bio.touched && editUser.controls.bio.errors?.required">please enter description</p>
        <p class="error-msg error" *ngIf="editUser.controls.bio.touched && editUser.controls.bio.errors?.minlength">description should be greater than or equal to {{editUser.controls.bio.errors?.minlength.requiredLength}} character </p>
      <br>



      <button [disabled]="!editUser.valid" class="primary-btn signup" (click)="updateUser()" >
        Update
      </button>

    </form>
  </div>
</ng-template>
    <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-lime-400 via-lime-500 to-lime-600"></span>

      <div class="justify-between sm:flex">
        <div>
          <h5 class="text-xl font-bold text-gray-100">
            {{user.name}}
          </h5>
          <p class="mt-1 text-xs font-medium text-gray-400">By John Doe</p>
        </div>

        <div class="flex items-center flex-shrink-0 hidden ml-3 sm:block">
          <img
            class="object-cover w-16 h-16 rounded-lg shadow-sm"
            [src]="user.images[0]?.captureFileURL"
            alt=""/>
        </div>
      </div>

      <div class="mt-4 sm:pr-8">
        <p class="text-sm text-gray-200">
          {{user.bio}}
        </p>
      </div>

      <dl class="flex mt-6">
        <div class="flex flex-col-reverse">
          <dd class="text-xs text-gray-300">{{user.education}}</dd>
          <dt class="text-sm font-medium text-gray-400">Education</dt>
        </div>

        <div class="flex flex-col-reverse ml-3 sm:ml-6">
          <dd class="text-xs text-gray-300">{{user.techStack}}</dd>
          <dt class="text-sm font-medium text-gray-400">Tech Stack</dt>
        </div>
      </dl>

      <dl class="flex mt-6">
        <div class="flex flex-col-reverse">
          <dd class="text-xs text-gray-300">{{user.phoneno}}</dd>
          <dt class="text-sm font-medium text-gray-400">Phone</dt>
        </div>

        <div class="flex flex-col-reverse ml-3 sm:ml-6">
          <dd class="text-xs text-gray-300">{{user.email}}</dd>
          <dt class="text-sm font-medium text-gray-400">Email</dt>
        </div>
      </dl>
    </div>
    </ng-container>
  </div>


</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="text-xs fv-plugins-message-container sm:text-sm">
      <span role="alert" class="text-red-600">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<app-footer></app-footer>
















