
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-app-primary: mat.define-palette(mat.$indigo-palette);
$frontend-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-app-theme: mat.define-light-theme((
  color: (
    primary: $frontend-app-primary,
    accent: $frontend-app-accent,
    warn: $frontend-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-app-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply h-full;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d2d3f, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #071022); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


html, body
{
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}


.action-dialog {


  mat-dialog-container {
    position: relative;
  }
}

.main-container {
  @apply flex flex-col justify-between my-0 mx-auto sm:px-4 ;
  @apply md:px-8;
  @apply lg:px-10;
  max-width: 1280px;
  min-width: 340px;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
