
<!-- <section class="w-full overflow-hidden text-gray-900 bg-center bg-no-repeat bg-cover h-100">





</section> -->
<video  id="myVideo" onloadedmetadata="this.muted=true" autoplay loop preload="auto">
  <source src="../../../assets/users.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<app-burger-menu></app-burger-menu>


<div class="content">
<div class="flex items-center justify-center h-100 w-100">


  <div class="justify-center mx-auto ">
    <div>
        <p class="pb-3 text-lg font-normal text-center text-white">BUILDING TEAM</p>
        <h1 class="w-5/6 pb-6 mx-auto text-3xl font-extrabold text-center text-white xl:text-4xl sm:w-4/6 lg:w-full">The <span style="color:greenyellow">Talented People</span> Behind the Scenes of the Organization</h1>
    </div>
    </div>

</div>
</div>
