<div class="flex justify-center content">
  <div class="mb-3 xl:w-96">
    <label for="exampleTel0" class="inline-block mb-2 text-white form-label"
      >Component One</label
    >
    <input min="10" max="15" [(ngModel)]="eneteredtext"
    type="text"
    class="
      form-control
      block
      w-full
      px-3
      rounded-xl
      h-10
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding
      border border-solid border-gray-300
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
    "
    id="exampleTel0"
  />

  <button (click)="enterText()"  class="px-8 py-2 mt-3 text-lg text-white bg-green-500 border-0 rounded-md focus:outline-none hover:bg-green-600">
   Click</button>


  </div>

</div>
